@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pagination-item-active {
    @apply bg-teal-600 text-white
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar-item-active {
    @apply text-white;
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity,1));
  }

  .sidebar-item-active::after{
    content: '';
    background: #00d0ff;
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .test-enter {
    @apply opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95
  }

  .test-enter-active {
    @apply opacity-100 translate-y-0 sm:scale-100
  }

  .test-exit {
    @apply opacity-100
  }
  .test-exit-active {
    @apply opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95
  }

  h1 {
    @apply text-2xl font-bold
  }

  h2 {
    @apply text-xl font-semibold
  }

  h3 {
    @apply text-lg font-medium
  }

  h4 {
    @apply text-base font-normal
  }
}